@model IEnumerable<BeFit.Models.Cwiczenia>

@{
    ViewData["Title"] = "Trening";
}

<h1>Trening</h1>

<p>
    <a asp-action="Create">Stwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SesjaCwiczenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypCwiczenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciezar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Powtorzenia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SesjaCwiczenia.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypCwiczenia.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciezar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Powtorzenia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
