@model IEnumerable<dynamic>

<h2>Statystyki ćwiczeń – ostatnie 4 tygodnie</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Ćwiczenie</th>
            <th>Ile razy wykonywane</th>
            <th>Łącznie powtórzeń</th>
            <th>Średnie obciążenie [kg]</th>
            <th>Maksymalne obciążenie [kg]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Nazwa</td>
                <td>@r.IleRazyWykonywane</td>
                <td>@r.LaczniePowtorzen</td>
                <td>@(((decimal)r.SrednieObciazenieKg).ToString("0.##"))</td>
                <td>@(((decimal)r.MaksymalneObciazenieKg).ToString("0.##"))</td>
            </tr>
        }
    </tbody>
</table>
