@model IEnumerable<BeFit.Models.Statystyka>

<h2>Statystyki ćwiczeń (ostatnie 4 tygodnie)</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ćwiczenie</th>
            <th>Ile razy wykonane</th>
            <th>Łączna liczba powtórzeń</th>
            <th>Średnie obciążenie (kg)</th>
            <th>Maksymalne obciążenie (kg)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Nazwa</td>
                <td>@s.Liczba</td>
                <td>@s.AllPowtorzenia</td>
                <td>@(Math.Round(s.SredniCieraz, 2))</td>
                <td>@s.MaxCiezar</td>
            </tr>
        }
    </tbody>
</table>

